* {
  left: 0px;
  top: 0px;
  font-family: 'Inter';
}

header {
  padding: 10px;
  color: white;
}

body {
  font-family: 'Inter';
  font-style: normal;
  padding-top: 130px;
  
  --color-baloot-dark: #593c1c;
  --color-baloot-light: #a97b47;
  --color-baloot-bgc-light: #F7F0E9;
  --color-baloot-bgc-dark: #D8C1A8;
  --color-disable: #909090;
  }

  a {
  text-decoration: none;
  color: inherit;
  }


  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #D0D0D040;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .header__logo {
  display: flex;
  align-items: center;
  }
  .header__logo__image {
  width: 100px;
  }
  
  .header__logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .header__logo__text {
  color: var(--color-baloot-light);
  margin: 5px;
  font-family: 'Inter';
  font-size: 42px;
  }
  .header__userinfo {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: flex-end;
  gap: 20px;
  color: var(--color-baloot-dark);
  font-weight: 600;
  }
  .header__search {
  position: relative;
  width: 40%;
  height: 68px;
  }
  .header__search__options {
  border-radius: 12px;
  border: none;
  background: var(--color-baloot-bgc-dark);
  mix-blend-mode: normal;
  height: 100%;
  padding: 5px;
  color: var(--color-baloot-dark);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  position: absolute;
  top: 0;
  }
  .header__search__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--color-baloot-bgc-light);
  border: none;
  border-radius: 12px;
  padding-left: 110px;
  padding-right: 55px;
  color: var(--color-baloot-dark);
  font-size: 24px;
  }
  
  .header__search__magnifier {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 30px;
    width: 30px;
    pointer-events: none;
    margin-left: 90%;
  }
  
  .header__search__magnifier img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .btn-primary {
    background-color: #F7F0E9;
    border-radius: 15px;
    color: #A97B47;
    margin-left: 10px;
    
  }
  
  .btn-primary:hover {
    background-color: #593C1C;
    border-color: transparent;
    color: #F7F0E9;
  }
  
  
   .login-section {
    background-color: #F7F0E9 !important;
    color: #A97B47 !important; 
    font-style: normal !important;
    border-radius: 15px !important;
    width: 5.5em !important;
    height: 3em !important;
    border: none  !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    body{
      padding-top: 0;
    }
    .header {
      position: relative;
  
      display: flex;
      flex-direction: column;
    }
    .header__logo__image {
      width:70px;
      height: 70px;
    }
    
    .header__logo__text {
    color: var(--color-baloot-light);
    margin: 5px;
    font-family: 'Inter';
    font-size: 23px;
    }
    .header__search {
      display: flex;
      align-items: center;
      margin-top: 10px;
      width: 100%;
    }
    
    .header__search__options {
      margin-top: 2%;
      height: 40px;
      padding: 0 10px;
      margin-right: 10px;
    }
    
    .header__search__input {
      height: 40px;
      padding: 0 10px;
      flex: 1;
      text-align: center;
    }
    
    .header__search__magnifier {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 10px;
  
    }
    .header__search__magnifier img {
      width: 1.5rem;
      height: 1.5rem;
      visibility: hidden;
    }
  }