
@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: normal;
  font-style: normal;
}
:root {
  --cardinal: #b12025;
  --dark-gray: #292929;
  --gun-powder: #4e4e50;
  --white: #ffffff;
}

